.navClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(183, 226, 255, 0.884);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
.loginIngreso{
    background-color: rgba(150, 224, 206, 0.795);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}
.cuerpo {
    border-radius: 5px; 
    width: calc(100vw - 20px); 
    height: calc(90vh - 20px);
    margin: 10px;
    box-shadow:  5px 1px 22px rgb(0, 0, 0);
    padding: 20px 15px;
    box-sizing: border-box;
    background-image: url('./img/fondo.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgba(155, 255, 146, 0.8);
}
.cuerpoLogin{
    border-radius: 5px; 
    width: calc(100vw - 20px); 
    height: calc(90vh - 20px);
    margin: 10px;
    box-shadow:  5px 1px 22px rgb(0, 0, 0);
    padding: 20px 15px;
    box-sizing: border-box;
    background-size: cover; /* Escalar la imagen para cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-color: rgba(155, 255, 146, 0.8);
    background-image: url('./img/fondo.jpg');
}
.navElement{
    width:200px;
}
.blackShadow{
    color: rgb(19, 18, 18);
    text-shadow: 5px 1px 22px rgb(0, 0, 0);
}
#carouselExampleAutoplaying {
    width: 30%; /* Porcentaje del ancho deseado */
    margin: 0 auto; /* Centra horizontalmente */
    height: 300px;
}
.textoPerfil {
    background-color: rgba(150, 224, 206, 0.795);
    background-size: cover;
    background-position: center;
    padding: 20px; /* Ajusta el espaciado interno según sea necesario */
    border-radius: 10px; /*redondea los bordes del fondo */
}
footer {
    position: fixed; /* Fijar el pie de página */
    bottom: 0; /* Colocarlo en la parte inferior */
    width: 100%; /* Hacer que ocupe todo el ancho */
    background-color: #f8f9fabd; /* Color de fondo del pie de página */
    padding: 5px; /* Espaciado interno */
    text-align: center; /* Alinear el texto al centro */
    left: 0;
}
.carousel-control-next,
.carousel-control-prev { /* cambia el color de las flechas del carrusel*/
    filter: invert(100%);
}